.main-about {
    padding: 170px 120px 80px 120px;
    background: rgb(10, 26, 60);
    background: linear-gradient(49deg, rgba(10, 26, 60, 1) 23%, rgba(18, 49, 89, 1) 68%, rgba(137, 128, 191, 1) 100%);
    color: #ECE3E8;
    display: grid;
    place-items: center;
    gap: 30px;
}

.section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-preference {
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
}

.about-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-images {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
}

.about-images img {
    aspect-ratio: 1 / 1;
    width: 50%;
    object-fit: cover;
}