:root {
  --white: #fff;
  --light-grey: rgba(233, 233, 233, 0.75);
  --black: black;
  --red: rgb(255, 102, 102);
  --blue: rgb(124, 178, 232);
  --green: rgb(64, 226, 160);
  --pink: rgb(255, 105, 248);
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  font-family: PP Neue Montreal;
  letter-spacing: 1.5px;
  font-weight: 500;
}

#root {
  width: 1200px;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  font-weight: 800;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}