body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  font-family: PP Neue Montreal;
  letter-spacing: 2px;
}

#root {
  width: 1200px;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  font-weight: 800;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}