body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: PP Neue Montreal;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  font-weight: 800;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}