.header {
    display: grid;
    place-items: center;
    position: absolute;
    top: 20px; 
    width: 98vw;
}

.navbar {
    height: auto;
    border-radius: 25px;
    backdrop-filter: blur(24px);
    padding: 10px 50px;
    z-index: 30; 
    margin: auto;
    width: 900px;
}

.navbar-content {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
}

.list {
    display: flex;
    gap: 30px;
    padding: 0;
}

.list li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.me {
    aspect-ratio: 1 / 1;
    width: 85px;
    border-radius: 50%;
}