.main {
    background-color: #010E1C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 150px;
    gap: 30px;
}

.projects-title {
    color: #ECE3E8;
    text-align: center;
}

.main-projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}